-i https://pypi.org/simple
absl-py==0.7.1
aiofiles==0.4.0
aiohttp==3.5.4
apscheduler==3.6.1
asn1crypto==0.24.0
astor==0.8.0
async-generator==1.10
async-timeout==3.0.1
attrs==19.1.0
boto3==1.9.215
botocore==1.12.215
certifi==2019.6.16
cffi==1.12.3 ; sys_platform == 'win32' and platform_python_implementation == 'CPython'
chardet==3.0.4
click==7.0
colorama==0.4.1 ; sys_platform == 'win32'
colorclass==2.2.0
coloredlogs==10.0
colorhash==1.0.2
configargparse==0.14.0
cryptography==2.7
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
docopt==0.6.2
docutils==0.15.2
fakeredis==1.0.4
fbmessenger==6.0.0
flask-cors==3.0.8
flask==1.1.1
future==0.17.1
gast==0.2.2
gevent==1.4.0
greenlet==0.4.15 ; platform_python_implementation == 'CPython'
grpcio==1.23.0
h5py==2.9.0
httptools==0.0.13
humanfriendly==4.18
idna==2.8
itsdangerous==1.1.0
jinja2==2.10.1
jira==2.0.0
jmespath==0.9.4
jsonpickle==1.2
jsonschema==2.6.0
kafka-python==1.4.6
keras-applications==1.0.8
keras-preprocessing==1.1.0
kiwisolver==1.1.0
markdown==3.1.1
markupsafe==1.1.1
matplotlib==3.1.1
mattermostwrapper==2.1
mock==3.0.5
multidict==4.5.2
networkx==2.3
numpy==1.17.0
oauthlib[signedtoken]==3.1.0
packaging==19.1
pbr==5.4.2
pika==1.0.1
prompt-toolkit==2.0.9
protobuf==3.9.1
pycparser==2.19
pydot==1.4.1
pyjwt==1.7.1
pykwalify==1.7.0
pymongo==3.9.0
pyparsing==2.4.2
pyreadline==2.1 ; sys_platform == 'win32'
pysocks==1.7.0 ; python_version >= '3.0'
python-crfsuite==0.9.6
python-dateutil==2.8.0 ; python_version >= '2.7'
python-dotenv==0.10.3
python-engineio==3.9.3
python-socketio==4.3.1
python-telegram-bot==11.1.0
pytz==2019.2
pyyaml==5.1.2
questionary==1.2.1
rasa-sdk==1.2.0
rasa==1.2.4
redis==3.3.8
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
requests==2.22.0 ; python_version >= '3.0'
rocketchat-api==0.6.34
ruamel.yaml==0.15.100
s3transfer==0.2.1
sanic-cors==0.9.9.post1
sanic-jwt==1.3.2
sanic-plugins-framework==0.8.2
sanic==19.3.1
scikit-learn==0.20.4
scipy==1.3.1
selenium==3.141.0
simplejson==3.16.0
six==1.12.0
sklearn-crfsuite==0.3.6
slackclient==1.3.2
sortedcontainers==2.1.0
sqlalchemy==1.3.7
tabulate==0.8.3
tensorboard==1.13.1
tensorflow-estimator==1.13.0
tensorflow==2.9.3
termcolor==1.1.0
terminaltables==3.1.0
tqdm==4.34.0
twilio==6.29.4
tzlocal==2.0.0
urllib3==1.25.3 ; python_version >= '3.4'
wcwidth==0.1.7
webexteamssdk==1.1.1
websocket-client==0.54.0
websockets==6.0
werkzeug==0.15.5
wheel==0.33.6 ; python_version >= '3'
yarl==1.3.0
