[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
jira = "*"
python-dotenv = "*"
selenium = "*"
pocketsphinx = "*"
flask = "*"

[requires]
python_version = "3.7"
